.seccionGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardProductos {
  display: flex;
  flex-direction: row;
  width: 300px;
  max-width: 400px;
  height: 200px;
  max-height: 250px;
  margin: 75px 75px;
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fotoProducto {
  z-index: 1;
  position: absolute;
  width: 120px;
  bottom: 0px;
  top: 5ps;
}
.contenedorDescripcion {
  margin: auto;
  margin-left: 130px;
}
.tituloProducto {
  height: 50px;
  width: 280px;
  color: white;
  margin: 0px 0px 5px 0px;
}
.apartadoCantidad {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.precioProducto {
  color: white;
  font-size: larger;
  margin-right: 20px;
  font-size: 25px;
  margin-bottom: 14px;
  color: #11998e;
}

.botonMas {
  width: 30px;
  height: 30px;
  font-size: 10px;
}

.botonMenos {
  width: 30px;
  height: 30px;
  font-size: 10px;
}

.cantidad {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #141e30 !important;
}
.apartadoBotones {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botonComprar {
  margin-left: 35px;
}
