body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.seccionGaleria {
  margin-top: 200px;
}

.cardProductos {
  display: flex;
  flex-direction: row;
  width: 330px;
  max-width: 330px;
  height: 150px;
  max-height: 150px;
  margin: 75px 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fotoProducto {
  z-index: 1;
  position: absolute;
  width: 100px;
  bottom: 0px;
  top: 5ps;
}
.contenedorDescripcion {
  margin: auto;
  margin-left: 100px;
}
.tituloProducto {
  height: 50px;
  color: white;
  margin: 0%;
}
.precioProducto {
  color: white;
  font-size: larger;
}
.apartadoCantidad {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100px;
  justify-content: space-between;
}

.botonMas {
  width: 30px;
  height: 30px;
  font-size: 10px;
}

.botonMenos {
  width: 30px;
  height: 30px;
  font-size: 10px;
}

.cantidad {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #141e30 !important;
}
